.picker {
  padding: 4% 31%;
}

.footer .footer-content {
  padding: 60px 0;
  color: antiquewhite;
}

.footer .footer-heading {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 18px;
}

.footer .footer-links li {
  margin-bottom: 10px;
}

.footer .footer-links li a {
  color: rgba(var(--color-white-rgb), 0.7);
}
