body {
  background-color: #eee;
}

.t-products {
  background-image: linear-gradient(
    to right top,
    #181818,
    #181818,
    #181818,
    #181818,
    #181818
  );
  color: #fff;
  border-radius: 3px;
}

.processor {
  background-color: antiquewhite;
  margin-top: 5px;
}

.product {
  background-color: #181818;
  border-radius: 2px;
  position: relative;
}

.about {
  margin-top: 12px;
}

.picker {
  padding: 4% 31%;
}

.footer .footer-content {
  padding: 60px 0;
  color: antiquewhite;
}

.footer .footer-heading {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 18px;
}

.footer .footer-links li {
  margin-bottom: 10px;
}

.footer .footer-links li a {
  color: rgba(var(--color-white-rgb), 0.7);
}
