.container.fluid {
  padding: 3% 15%;
}

/* Navigation Bar */

.nav-item {
  padding: 0 10px;
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 19px;
}

#tittle {
  padding: 1% 2%;
}
