body {
  height: 2000px;
  overflow-x: hidden;
}

#tittle {
  padding: 4% 8%;
}

.container.fluid {
  padding: 3% 5%;
}

/* Navigation Bar */

.nav-item {
  padding-right: 20px;
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

.bg-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.procon {
  margin-top: 15pc;
}

/* product */
@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

.mt-100 {
  margin-top: 10px;
}

.product-wrapper,
.product-img {
  overflow: hidden;
  position: relative;
}

.mb-45 {
  margin-bottom: 45px;
}

.product-action {
  bottom: 0px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 0.6s ease 0s;
}

.product-wrapper {
  border-radius: 10px;
}

/* .product-img>span {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px
} */

.product-action-style {
  background-color: #fff;
  box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
  display: inline-block;
  padding: 16px 2px 12px;
}

.product-action-style > a {
  color: #979797;
  line-height: 1;
  padding: 0 21px;
  position: relative;
}

.product-action-style > a.action-plus {
  font-size: 18px;
}

.product-wrapper:hover .product-action {
  bottom: 20px;
  opacity: 1;
}

p {
  color: rgb(255, 255, 255);
}

/* hr text */

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 40px;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 3px;
  background: rgb(2, 2, 2);
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.hrpd {
  margin-left: 35%;
  margin-right: 35%;
}

.sec1 {
  background-color: rgb(227, 227, 227);
  height: 400px;
  width: 100%;
}

.sec1content {
  margin-top: 60px;
  margin-left: 80px;
}
